---
title: karlmagnus
---
.main

<!-- About me Section -->
.about-me
  .photo
    %img(src="images/karlmagnus2.png" width="25%" height="25%")
  .about_me_text
    .text
      %h5 < about_me />
      %about_me_text
      %center Hi, I'm Karl-Magnus. I create web things. This is my very [WIP] portfolio.

  <!-- Contact -->
.info
  .contact
    %h3 < contact />
    %p
      %a{:href => "tel:+4793458771"}
        %i.contactcontent.icon-phone-alt +47 934 58 771
    %p
      %a.contactcontent{:href => "mailto:hei@karlmagnus.no?Subject=Hei%20Kalle", target: "_top"} hei@karlmagnus.no
    %p
      %a{:href => "https://github.com/kmthorsnes"}
        %i.contactcontent.contacticons.fa.fa-lg.fa-github
      %a{:href => "https://www.linkedin.com/in/karl-magnus-thorsnes/"}
        %i.contacticons.fa.fa-lg.fa-linkedin
      %a{:href => "https://www.facebook.com/karlmagnus"}
        %i.contacticons.fa.fa-lg.fa-facebook
      %a{:href => "https://www.instagram.com/karl.magnus"}
        %i.contacticons.fa.fa-lg.fa-instagram
      %a{:href => "https://www.twitter.com/karlmagnus"}
        %i.contacticons.fa.fa-lg.fa-twitter
  .tools
    %h3 < tools />
    %p
      %i.toolsicons.icon-html5-alt
      %toolstext Html
    %p
      %i.toolsicons.icon-css
      %toolstext CSS
    %p
      %i.toolsicons.icon-javascript-alt
      %toolstext JavaScript
    %p
      %i.toolsicons.icon-ruby
      %toolstext Ruby
    %p
      %i.toolsicons.icon-ruby-on-rails
      %toolstext Ruby on rails
    %p
      %i.toolsicons.icon-angular
      %toolstext Angular
    %p
      %i.toolsicons.icon-sass
      %toolstext Sass
    %p
      %i.toolsicons.icon-jquery
      %toolstext jQuery
    %p
      %i.toolsicons.icon-database
      %toolstext SQL
  .project
    %h3 < projects />
    - data.projects. each do |project|
      %img(src="#{project[:projecticon]} "height="40px")
      %a.projecttitle{href: project[:url]}= project[:name]
      %br
      %projectdescription.projectdescription= project[:description]
      %br
      %projecttechnology.projectdescription= project[:Projecttechnology]
      %p

  .education
    %h3 < education />
    - data.education. each do |education|
      %img(src="#{education[:eduicon]} "height="40px")
      %edutext=education[:eduname]
      %br
      %projecttechnology.edutext= education[:eduwhere]
      %br
      %projecttechnology.edutext= education[:edutimes]
      %p

  .work
    %h3 < work />
    - data.work. each do |work|
      %img(src="#{work[:workicon]} "height="40px")
      %worktext= work[:workposition]
      %br
      %projecttechnology.worktext= work[:workemployer]
      %br
      %projecttechnology.worktext= work[:worktimes]
      %p
